/* Windows BLISS Background */
body{
  margin-bottom: 200px;
  width: 1300px;
  margin: 0 auto;
  background-image: url("background.jpg");
  background-size: 100% 100vh;
}

/* Helper classes */
.align-left{
  float:left;
  margin:0;
}
.align-right{
  float:right;
  margin:0;
}
.center{
  text-align:center;
  margin: 0;
}
p.no-new-line { display:inline; }


/* Alter FA Colors */
.fa-chevron-up { color: green; }
.fa-chevron-down { color: red; }

.column {
  float: left;
  width: 25%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Fix console to the bottom of the screen */
div.console {
  background-color: black;
  position:fixed;
  left: 0px;
  bottom:0px;
  max-height:200px;
  height: 200px;
  width:100%;
  overflow-y: scroll;
}

@font-face {
    font-family: consoleFont;
    src: url(https://pumaofperthroad.com/vcr.ttf);
}

p.console {
  color: white;
  font-family: consoleFont;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Window */
div.window {
  background-image: url("window.jpg");
  background-size: 100% 30px;
  background-repeat: no-repeat;
  background-color: #ece9d8;
  padding: 10px;
  padding-top: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #026aff;
}

div.window.stack {
  width: 260px;
  /* float: left; */
  margin-right: 5px;
  min-height: 100px;
  margin: 20px;
}

div.window.on-top {
  position: absolute;
  width:250px;
  min-height:100px;
  text-align: center;
  top: 150px;
  left: calc(50% - 125px);
}

h1.window.title {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  margin: 0;
}

table.window {
  margin: 0 auto;
}

/* Special Classes */
select.manual-buysell{
  min-width: 70px;
  margin: 10 0;
  font-size: 12px;
}

input.manual-buysell{
  width: 70px;
  margin: 10 0;
  font-size: 12px;
}

button.manual-buysell{
  width:70px;
  margin: 10 0;
  font-size: 12px;
}

h2.calendar{
  text-align: center;
  font-size:20px;
  margin:0;
}
